@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto&display=swap");
.home {
  font-family: "Poppins", sans-serif;
}
.home #h2 {
  display: block;
  text-align: center;
  font-size: 35px;
  color: rgb(155, 120, 77);
}
